.form-group.field-luckyticketform-min_number,
.form-group.field-luckyticketform-max_number
{
    float: left;
    margin-right: 20px;
}

.field-luckyticketform-min_number .form-control,
.field-luckyticketform-max_number .form-control
{
    width: auto;
}

#NumbersTicket .btn
{    margin-top: 31px;
}
